@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: #cbd5e1;
  opacity: 1;
  transition: all 0.3s ease;
}

.swiper-pagination-bullet-active {
  background: #0a3d8f; 
  width: 22px;
  border-radius: 999px;
}
